#
# Licensed to the Apache Software Foundation (ASF) under one or more
# contributor license agreements.  See the NOTICE file distributed with
# this work for additional information regarding copyright ownership.
# The ASF licenses this file to You under the Apache License, Version 2.0
# (the "License"); you may not use this file except in compliance with
# the License.  You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
#

name: Build Docker
on:
  workflow_call:
    outputs:
      version:
        description: ""
        value: ${{ jobs.build-docker.outputs.version }}

env:
  MAVEN_OPTS: -Dhttp.keepAlive=false -Dmaven.wagon.http.pool=false -Dmaven.wagon.http.retryHandler.class=standard -Dmaven.wagon.http.retryHandler.count=3 -Dmaven.wagon.httpconnectionManager.ttlSeconds=120

jobs:
  build-docker:
    runs-on: ubuntu-latest
    outputs:
      version: ${{ steps.build-backend.outputs.version }}
    strategy:
      matrix:
        node-version: [16.0.0]
    env:
      TAG: ${{ github.sha }}
      SKIP_TEST: true
    steps:
    - name: Checkout
      uses: actions/checkout@v5
    - name: Set up JDK 8
      uses: actions/setup-java@v4
      with:
        distribution: 'temurin'
        java-version: 8
        cache: maven
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v4
      with:
        node-version: ${{ matrix.node-version }}
    - name: Get npm cache directory
      id: npm-cache-dir
      shell: bash
      run: echo "dir=$(npm config get cache)" >> ${GITHUB_OUTPUT}
    - name: Cache node modules
      uses: actions/cache@v4
      id: npm-cache
      with:
        path: ${{ steps.npm-cache-dir.outputs.dir }}
        key: ${{ runner.os }}-node-${{ hashFiles('**/package-lock.json') }}
        restore-keys: |
          ${{ runner.os }}-node-
    - name: Set up QEMU
      uses: docker/setup-qemu-action@v3
    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3
    - name: Initialize CodeQL
      uses: github/codeql-action/init@v3
      with:
        languages: java, javascript, python
    - name: Build frontend by node.js
      run: |
          cd linkis-web
          sed -i "/VUE_APP_MN_CONFIG_PREFIX/d" .env
          npm install
          npm run build
    - name: Build backend by maven
      id: build-backend
      run: |
          ./mvnw install -Pdocker -Dmaven.javadoc.skip=true -Dmaven.test.skip=true -Dlinkis.build.web=true -Dlinkis.build.ldh=true
          echo "version=$(mvn help:evaluate -Dexpression=revision -q -DforceStdout)" >> $GITHUB_OUTPUT
    - name: Log in to the Container registry
      uses: docker/login-action@v3
      with:
        registry: ghcr.io
        username: ${{ github.actor }}
        password: ${{ github.token }}
    - name: Push Docker Image
      env:
        DOCKER_VERSION: ${{ github.ref_name }}-${{ github.sha }}
      run: |
        docker images
        docker tag linkis:${{ steps.build-backend.outputs.version }} ${{ github.repository }}/linkis:${{ env.DOCKER_VERSION }}
        docker push ${{ github.repository }}/linkis:${{ env.DOCKER_VERSION }}

        docker tag linkis-web:${{ steps.build-backend.outputs.version }} ${{ github.repository }}/linkis-web:${{ env.DOCKER_VERSION }}-${{ matrix.node-version }}
        docker push ${{ github.repository }}/linkis-web:${{ env.DOCKER_VERSION }}-${{ matrix.node-version }}

        docker tag linkis-ldh:${{ steps.build-backend.outputs.version }} ${{ github.repository }}/linkis-ldh:${{ env.DOCKER_VERSION }}
        docker push ${{ github.repository }}/linkis-ldh:${{ env.DOCKER_VERSION }}
    - name: Perform CodeQL Analysis
      uses: github/codeql-action/analyze@v3
